

<!DOCTYPE html>
<html>
  <head>
    <title>INFO 301 - Hands On Project 10-1</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
         Hands-on Project 10-1
      </h1>
   </header>

   <article>
      <h2>Drag the tiles to form the picture</h2>
      <div id="image">
         <img src="https://cdn.glitch.com/59685a25-2f50-45d0-8c6d-db9fea0f2191%2Ffrog.jpg?1493581190726" width="195" height="151" />
      </div>
      <div id="grid">
         <div id="top1">
            &nbsp;
         </div>
         <div>
            &nbsp;
         </div>
         <div>
            &nbsp;
         </div>
         <div id="bottom1">
            &nbsp;
         </div>
         <div>
            &nbsp;
         </div>
         <div>
            &nbsp;
         </div>
      </div>
      <div id="pieces">
         <div id="piece1"></div>
         <div id="piece2"></div>
         <div id="piece3"></div>
         <div id="piece4"></div>
         <div id="piece5"></div>
         <div id="piece6"></div>
      </div>
   </article>
   <script src="script.js"></script>
  </body>
</html>
